:root {
  --dark-grey-color: #5a5959;
  --black: #16191bcc;
  --light-grey-color: #7f7e7e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0 auto; /* Center the content horizontally */
  font-size: 16px; /* Set a base font size */
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.container {
  /* Wrap your main content in a container class */
  margin: 0 auto; /* Center the content horizontally */
}

header {
  padding: 1rem 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background: #666666;
  color: #fff;
}

header img {
  width: 24%;
  height: 24%;
}

nav {
  display: flex;
  font-size: 0.7rem;
  margin-right: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-right: 1.5rem;
}

.nav-links li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

main .content-container {
  padding: 2rem 7rem;
}

main .newsletter-section {
  padding: 2rem 5rem;
}
.content-container {
  display: flex;
  flex-wrap: row;
}

aside {
  width: 20%;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 0.6rem;
}

input[type="text"] {
  width: 60%;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(205, 199, 199);
  margin-bottom: 1rem;
  font-size: 0.7rem;
}

.categories {
  margin-bottom: 1rem;
}
.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: start;
  cursor: pointer; /* Indicate clickable behavior */
  color: var(--light-grey-color);
  font-size: 0.9rem;
}

.dropdown-item.active {
  color: black; /* Change text color for active item */
}

.dropdown-content {
  display: none; /* Hide the content initially */
  color: var(--light-grey-color);
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0.5rem; /* Remove default margin */
  font-size: 0.8rem;
}

.dropdown-content li {
  margin: 0.5rem; /* Remove default margin */
}

.dropdown-item.active .dropdown-content {
  display: block; /* Show the content when the item is active */
}

span {
  margin-bottom: 0.5rem;
}

.tiles-icon {
  margin-left: 6.25rem;
}
.sanitary-icon {
  margin-left: 4.5rem;
}

.electrical-fittings-icon {
  margin-left: 1rem;
}

.light-fittings-icon {
  margin-left: 2.5rem;
}

.iron-fittings-icon {
  margin-left: 3.5rem;
}

.doors-icon {
  margin-left: 6.1rem;
}

.kitchen-and-bath-icon {
  margin-left: 3rem;
}

hr {
  border: 0.05rem solid rgb(211, 211, 211);
}

.categories hr {
  margin: 1rem 0;
  border: 0.05rem solid rgb(236, 234, 234);
  width: 61%;
}

select {
  margin-bottom: 0.2rem;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-family: inherit;
}

.product-types {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: var(--light-grey-color);
}

.product-types li {
  list-style: none;
  margin: 0.5rem 0;
}

section.main-content {
  width: 78%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  align-self: start;
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: 1.6rem;
}

.sub-heading {
  font-size: 1.2rem;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: 27%;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.7rem;
}

.product-card img {
  width: 100%;
  margin-bottom: 0.5rem;
}

.product-card p {
  margin: 0.2rem 0;
  text-align: left;
}

.product-card p {
  color: var(--black);
  font-size: 1rem;
}

.product-card p:last-child {
  color: var(--light-grey-color);
  font-size: 0.8rem;
}

button {
  background-color: white;
  color: orange;
  border: 1px orange solid;
  padding: 1rem 2rem;
  width: 30%;
  height: 10%;
  margin: 0 auto;
  cursor: pointer;
}

.newsletter-section {
  margin-left: 0;
  background-image: url("./images/newsletter-bkg.png");
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
  color: white;
}

.newsletter-text {
  width: 40%;
}

.newsletter-text p strong {
  font-size: 2rem;
}
.newsletter-form {
  background-color: transparent;
}

.newsletter-form input {
    background-color: inherit;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    width: 104%;
  }

.newsletter-country-button {
  display: flex;
  justify-content: space-around;
  width: 104%;
}

.newsletter-country-button select {
  appearance: none;
  border-left: 1px solid white;
  width: 70%;
  border-bottom: 1px solid white;
  border-top: 0;
  background-color: transparent;
  color: white;
  margin-bottom: 0;
  padding-left: 1rem;
}

.newsletter-form select {
  margin-top: 0;
  width: 100%;
  font-size: 1rem;

}
.newsletter-form input::placeholder {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1rem;
}
.newsletter-form button {
  font-family: "Montserrat", sans-serif;
  width: 30%;
  font-size: 1rem;
  padding: 1rem 1.1rem;
  background-color: inherit;
  color: white;
  border: 1px solid white;
  border-top: none;
}

footer {
  color: black;
  padding: 2rem;
  text-align: center;
}

.bottom-half {
  background-color: #f2f2f2;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto; /* Center the content horizontally */
}

.footer-links {
  display: flex;
  flex-direction: wrap;
  margin-left: 2rem;
}

.footer-links-container {
  flex-direction: column;
  margin-right: 5rem;
  text-align: left;
}

.link-section {
  margin: 2rem;
}

.link-section p {
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
  color: rgb(172, 172, 172);
}

.link-section p:first-child {
  color: black;
}

.email-signup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 16rem;
}

.email-signup p {
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  align-items: left;
  font-weight: bold;
}

.email-signup p:first-child {
  font-size: 0.8rem;
}
.email-signup-input-button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.email-signup input[type="email"] {
  width: 100%;
  padding: 0.5rem 1rem;
  padding-right: 5rem;
  border: 1px solid lightgrey;
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.email-signup button {
  width: 40%;
  background-color: rgb(19, 18, 18);
  color: white;
  border: none;
  padding: 0.5rem;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
}

.social-media {
  display: flex;
  justify-content: space-between;
}

.social-media li {
  color: black;
  list-style-type: none;
  margin: 1rem;
}

.social-media li a {
  color: black;
  text-decoration: none;
}

.footer-ending {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 5rem;
}

.country-flag {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 1.2rem;
}

.country-flag img {
  width: 10%;
  height: 10%;
  margin-right: 0.5rem;
}

.country-flag p {
  color: var(--light-grey-color);
}
.copyright-line {
  margin-left: 54rem;
}

.footer-ending div p {
  font-size: 0.7rem;
}

.copyright-line p {
  color: var(--light-grey-color);
}

.footer-final {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer-final li {
  color: black;
  list-style-type: none;
  margin: 1rem;
  font-size: 0.7rem;
}

.toggle-button {
  border: none;
  background-color: inherit;
  color: #fff;
}

.open {
  display: block !important;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: var(--light-grey-color);
  width: 50%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style-type: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}


.mobile-nav__items li {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
 }

 #search-bar {
  margin-left: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
/* Responsive styles for mobile and tablets */

@media (max-width: 1280px) {
  aside {
    width: 40%; 
    padding-left: 0rem;
    margin-right: 0;
  }
  .email-signup {
    margin-right: 2.2rem;
  }
  .newsletter-form {
    width: 40%;
    padding-left: 1.2rem;
  }
  .copyright-line {
    margin-left: 48rem;
  }
}


@media (max-width: 1026px) {
  body{
    height: 100vh;
  }
  .main-nav {
    display: none;
  }
  header img {
    margin-right: 20rem;
  }
  .toggle-button{
    margin-left: 0.05rem;
  }
  aside {
    width: 40%; 
    padding-left: 0rem;
    margin-right: 0;
  }
  .categories hr {
    width: 0;
  }
  .tiles-icon {
    margin-left: 6.3rem;
  }
  .sanitary-icon {
    margin-left: 4.6rem;
  }
  .doors-icon {
    margin-left: 6.0rem;
  }
  .kitchen-and-bath-icon {
    margin-left: 3rem;
  }
  .email-signup {
    margin-right: 2.2rem;
  }
  .copyright-line {
    margin-left: 38rem;
  }
  .newsletter-form {
    width: 40%;
    padding-left: 1.2rem;
  }
}

@media (min-width: 1026px) {
.toggle-button, .mobile-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  header img {
    width: 30%;
    height: 30%;
    margin-right: 0;
  }
   .main-nav {
      display: none;
    }
  .content-container, .footer-content {
      flex-direction: column;
      align-items: center;
      width: 100%;
  }
  aside {
    width: 100%; 
    padding-left: 0rem;
    margin-right: 0;
  }

  
.tiles-icon {
  margin-left: 2.6rem;
}
.sanitary-icon {
  margin-left: 2.2rem;
}

.electrical-fittings-icon {
  margin-left: 1.7rem;
}

.iron-fittings-icon {
  margin-left: 2.5rem;
}

.doors-icon {
  margin-left: 3.3rem;
}

.kitchen-and-bath-icon {
  margin-left: 2.6rem;
}

.categories hr {
  width: 0;
}

input[type="text"] {
  width: 100%;
}

  .heading {
    margin-left: 0;
  }
  button {
    width: 80%;
  }
  .product-grid {
    flex-direction: column;
}

.product-card {
    width: 100%;
    margin-bottom: 1rem;
}
.product-types {
  font-size: 0.8rem;
}

.newsletter-section {
    flex-direction: column;
    align-items: center;
}

.newsletter-text {
    width: 100%;
}

.newsletter-form {
    width: 135%;
    padding-left: 1.2rem;
}

.copyright-line {
  margin-left: 1rem;
}

.footer-final{
  flex-direction: row wrap;
}

.footer-final li {
  margin: 0.5rem;
  font-size: 0.6rem;
}

.footer-links {
  flex-direction: column;
}

.email-signup {
  margin-right: 1rem;
}

.search-icon {
  margin-left: 5rem;
}

#search-bar {
  margin-left: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
}

